{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in row">
            	<a href="#about">{{ with .Site.Params.hero.title }}{{ . }}{{ end }}
            	</a>
            	</div>
            <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . }}{{ end }}</div>
            <a href="#about" class="page-scroll btn btn-xl">
            	<i class="fa fa-arrow-down"></i></a>
        </div>
    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
